.container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 70%;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flexD {
  flex-direction: row-reverse;
}
.a {
  width: 100%;
  flex: 1;
  padding: 2rem;
  width: 100%;
}
.b {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 2rem;
}
.head {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 2.5rem;
}
.description {
  font-size: 1rem;
  line-height: 1.4rem;
}
.line {
  width: 100%;
  border: 1px solid var(--m2);
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .wrapper {
    flex-direction: column;
  }
  .line {
    width: 85%;
    border: 1px solid var(--m2);
  }
}
